{{ define "main" }}
<section id="projects-list">
    <h1>{{ .Title }}</h1>
    {{ range .Site.Data.projects }}
        <article class="project">
            <h2>{{ .title }}</h2>
            <p>{{ .short_description | markdownify }}</p>
            
            {{ if .img }}
            <div class="project-image">
                <img src="{{ .img | relURL }}" alt="{{ .title }} image">
            </div>
            {{ end }}
            
            <div class="project-description">
                {{ .full_description | markdownify }}
                {{ if .full_descriptiontwo }}
                    <p>{{ .full_descriptiontwo | markdownify }}</p>
                {{ end }}
            </div>
            
            <div class="project-links">
                {{ if .github_link }}
                <a href="{{ .github_link }}" target="_blank" class="github-link" title="View on GitHub">
                    <i class="fab fa-github"></i> GitHub
                </a>
                {{ end }}
                
                {{ if .weblink }}
                <a href="{{ .weblink }}" target="_blank" class="web-link" title="Visit Website">
                    <i class="fas fa-globe"></i> Website
                </a>
                {{ end }}
            </div>
        </article>
    {{ end }}
</section>
{{ end }}