{{ define "main" }}
<nav class="navbar">
    <div class="menu">
        {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" class="nav-item{{ if .Params.mobileHide }} mobile-hide{{ end }}">{{ .Name }}</a>
        {{ end }}
    </div>
</nav>
<section id="blog-list">
    <h1>{{ .Title }}</h1>
    {{ range .Pages }}
    <article>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
        <p>{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}" class="read-more">Read more</a>
    </article>
    {{ else }}
    <p>No blog posts found. Check back soon!</p>
    {{ end }}
</section>
{{ end }}