{{ define "main" }}


<section id="hero">
    <h1>{{ .Site.Params.name }}</h1>
    <div class="hero-subtitle">
        <h2>{{ .Site.Params.description }}</h2>
    </div>
    <div class="hero-subtitle">
        <h2>{{ .Site.Params.location }}</h2>
    </div>
</section>

<section id="about">
    <h2>About Me</h2>
    <div class="about-content">
        <p class="shortform">
            As a fourth-year York University Computer Science student, my passion for technology drives me to innovate. Driven by the potential of machine learning and its applications, I'm currently exploring large language models and their wider impact within the AI landscape. I'm eager to contribute to innovative solutions in this domain.
        </p>
        <p class="longform">
            I'm a fourth-year Computer Science student at York University with a strong foundation in Python, Java, JavaScript, and machine learning principles. My passion for technology drives me to continually explore and understand the latest advancements in the field. I am particularly interested in the potential of machine learning and its diverse applications. Currently, I am delving into large language models and their impact within the AI landscape. With a commitment to innovative solutions, I am eager to contribute to cutting-edge projects and research in this domain. My goal is to leverage my skills and knowledge to make a significant impact in the tech industry.
        </p>
    </div>
</section>

{{ partial "projects.html" . }}

<section id="skills">
    <h2>My Skills</h2>
    {{ range .Site.Data.skills }}
    <div class="skills-category">
        <h3>{{ .category }}</h3>
        <ul class="skill-list">
            {{ range .items }}
            <li class="skill-item"><i class="{{ .icon }}"></i> {{ .name }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</section>


<section id="blog-preview">
    <h2>Latest Blog Posts</h2>
    {{ $blogPosts := where .Site.RegularPages "Section" "blog" }}
    {{ if $blogPosts }}
        {{ if gt (len $blogPosts) 2 }}
            {{ range first 3 $blogPosts }}
            <article>
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                <time>{{ .Date.Format "January 2, 2006" }}</time>
                <p class="blog-description">{{ .Summary }}</p>
                <a href="{{ .RelPermalink }}" class="read-more">Read more</a>
            </article>
            {{ end }}
            <a href="/blog" class="view-all">View all posts</a>
        {{ else }}
            {{ range first 3 $blogPosts }}
            <article>
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                <time>{{ .Date.Format "January 2, 2006" }}</time>
                <p class="blog-description">{{ .Summary }}</p>
                <a href="{{ .RelPermalink }}" class="read-more">Read more</a>
            </article>
            {{ end }}
        {{ end }}
    {{ else }}
        <p>No blog posts found. Check back soon!</p>
    {{ end }}
</section>


<section id="experience">
    <h2>Work Experience</h2>
    {{ range .Site.Data.experience }}
    <div class="experience-entry">
        <h3>{{ .title }}</h3>
        <p>{{ .company }} | {{ .date }}</p>
        <ul>
            {{ range .responsibilities }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</section>

<section id="education">
    <h2>Education</h2>
    {{ range .Site.Data.education }}
    <div class="education-entry">
        <h3>{{ .school }}</h3>
        <p>{{ .degree }} | {{ .date }}</p>
    </div>
    {{ end }}
</section>

{{ end }}